body {
  background-color: #222;
  color: #ddd;
  text-align: center;
}

main {
  width: 1200px;
  margin: 0 auto;
}

img {
  vertical-align: bottom;
}

#mainImg {
  width: 1200px;
  height: auto;
  margin-bottom: 8px;
}

#play {
  width: 140px;
}